@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v27.2.2/dist/font-face.css');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
    font-family: 'Vazir', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.progress-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    margin: 30px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid var(--line-border-empty);
    display: flex;
    justify-content: center;
    color: #999;
    align-items: center;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn {
    padding: 8px 30px;
    background-color: var(--line-border-fill);
    color: #fff;
    transition: .4s ease;
    border-radius: 4px;
}

.btn:active {
    transform: scale(.98);
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
    color: #000;
}
