@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v27.2.2/dist/font-face.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Vazir', sans-serif;
    background-color: #8e44ad;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    margin-top: 10px;
    font-size: 60px;
}
